{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/saco-de-dinheiro32.png' %}" class="navbar-brand-img h-100" alt="main_logo">
                <span class="ms-1 font-weight-bold"> AppFinanças</span>
            </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Despesas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Receitas</a>
                </li>
            </ul>
            <a href="{% url 'usuarios:logout' %}" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1 text-primary"></i>
                <span class="text-primary">Logout</span>
            </a>


        </div>
    </div>
</nav>